In [1]:
import numpy as np
import matplotlib.pyplot as plt 

import pandas as pd  
import seaborn as sns

In [2]:
cs = pd.read_csv('Child smokers.csv', na_values = ':')
cs

     Age (years)  Height (cm)  FEV (litres)     Sex  Smoker
0              9          145         1.708  female     non
1              8          171         1.724  female     non
2              7          138         1.720  female     non
3              9          135         1.558    male     non
4              9          145         1.895    male     non
..           ...          ...           ...     ...     ...
649           15          152         2.278  female  smoker
650           16          183         4.872    male  smoker
651           16          170         4.270    male  smoker
652           15          173         3.727    male  smoker
653           16          160         2.795  female  smoker

[654 rows x 5 columns]

In [3]:
cs.describe()

       Age (years)  Height (cm)  FEV (litres)
count   654.000000   654.000000    654.000000
mean      9.931193   155.298165      2.636780
std       2.953935    14.471647      0.867059
min       3.000000   117.000000      0.791000
25%       8.000000   145.000000      1.981000
50%      10.000000   156.000000      2.547500
75%      12.000000   166.000000      3.118500
max      19.000000   188.000000      5.793000

In [5]:
df = pd.DataFrame(cs.data, columns=cs.feature_names)
df.head()

AttributeError: 'DataFrame' object has no attribute 'data'